body {
    height: 100vh;
    background-image: linear-gradient(rgb(76, 76, 234), rgb(121, 242, 121));
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.err{
    color: red;
}

container {
    height: 40%;
    width: 40%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    background-color: antiquewhite;
    padding: 5rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}
